@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animacion no incluida en tailwind ya que no permite steps */
.typetext {
  border-right: 2px solid;
  width: 100%;
  padding-right: 2px;
  overflow: hidden;
  white-space: nowrap;
  animation:
    blink 0.5s ease 6 forwards,
    typing 3s steps(25);
}

.typetext2 {
  border-right: 2px solid;
  width: 100%;
  padding-right: 2px;
  overflow: hidden;
  white-space: nowrap;
  animation:
    blink 0.5s ease 3s infinite both,
    typing 2s steps(23) 3s backwards;
}

@keyframes blink {
  0% {
    border-style: none;
  }
  50% {
    border-style: solid;
  }
  100% {
    border-style: none;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.about {
  animation-timeline: view(600px 0px);
}
