@tailwind base;
@tailwind components;
@tailwind utilities;

.typetext {
  width: 100%;
  padding-right: 2px;
  overflow: hidden;
  white-space: nowrap;
  animation: blink 2s steps(25) forwards, typing 2s steps(25);
}

.typetext2 {
  width: 100%;
  padding-right: 2px;
  overflow: hidden;
  white-space: nowrap;
  animation: blink 0.8s ease 2s infinite both, typing 2s steps(23) 2s backwards;
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(23, 22, 22);
  }
  100% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
